<footer class="pt-3 mt-4 text-body-secondary border-top">
    &copy; @DateTime.Now.Year IP Cow&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All rights reserved&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/Privacy">Privacy</a>
</footer>